<!-- index.html -->
<!DOCTYPE html>
<html>
<body>
<div style="width: 100vw;height: 95vh;text-align: center;display: block" id="show">
    <img class="content" id="img"/>
    <video autoplay muted class="content" style="display: none" id="video"/>
</div>
<div style="width: 100vw;height: 5vh;text-align: center;display: block" id="searchDiv">
    <button onclick="lastPicture()">上一页</button>
    <input id="name">
    <button onclick="getImgList()">搜索</button>
    <button onclick="nextPicture()">下一页</button>
</div>

</body>
<script>
    let intervalTime = 10
    let imgList = []
    let imgListIndex = 0
    let show = document.getElementById("show");
    let img = document.getElementById("img") // 获取 ID 为 "img" 的图片标签
    let video = document.getElementById("video") // 获取 ID 为 "video" 的视频标签
    let searchDiv = document.getElementById("searchDiv") // 获取 ID 为 "video" 的视频标签
    let name = document.getElementById("name");

    function getImgList() {
        var params = {
            name: name.value
        };
        var paramsStr = JSON.stringify(params);
        var xhttp = new XMLHttpRequest()
        xhttp.open("POST", "getImgList", true)
        xhttp.setRequestHeader("Content-type", "application/json")
        xhttp.send(paramsStr);
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                let data = JSON.parse(this.responseText);
                //处理返回的数据
                console.log(data)
                imgList = shuffleArray(data)
                imgListIndex = 0
                if (imgList.length > 0) {
                    run(imgList[imgListIndex], imgListIndex)
                    // img.src = "/img/" + data[0] // 修改 "src" 属性为新的图片地址
                } else {
                    img.src = "" // 修改 "src" 属性为空
                    video.src = "" // 修改 "src" 属性为空
                    img.style.display = "block"
                    video.style.display = "none"

                }


            }
        }
        name.value = ""
        name.focus()
    }

    document.addEventListener("keydown", function (event) {
        if (event.key === "Enter") {
            event.preventDefault()
            getImgList()
        }
        if (event.key === "*") { // 只隐藏和显示搜索框
            //event.preventDefault()
            if (searchDiv.style.display === "block") {
                searchDiv.style.display = "none"
                show.style.height = "100vh"
                name.value = ""
                // 进入全屏模式
                if (document.documentElement.requestFullscreen) {
                    document.documentElement.requestFullscreen()
                }
            } else {
                searchDiv.style.display = "block"
                show.style.height = "95vh"
                name.focus()
                setTimeout(function () {
                    name.value = ""
                }, 10);
                // 退出全屏模式
                if (document.exitFullscreen) {
                    document.exitFullscreen()
                }
            }
        }
        if (event.key === "/") { // 清除搜索条件，返回默认显示全部图片
            // event.preventDefault()
            searchDiv.style.display = "none"
            show.style.height = "100vh"
            name.value = ""
            getImgList()
            // 进入全屏模式
            if (document.documentElement.requestFullscreen) {
                document.documentElement.requestFullscreen()
            }
        }
        if (event.key === 'ArrowLeft') {
            event.preventDefault()
            lastPicture()
        }
        if (event.key === 'ArrowRight') {
            event.preventDefault()
            nextPicture()
        }
    })

    function lastPicture() {
        if (imgList.length > 1) {
            if (imgListIndex !== 0) {
                imgListIndex = imgListIndex - 1
                run(imgList[imgListIndex], imgListIndex)
                // img.src = "/img/" + imgList[imgListIndex] // 修改 "src" 属性为新的图片地址
            } else {
                imgListIndex = imgList.length - 1
                run(imgList[imgListIndex], imgListIndex)
                // img.src = "/img/" + imgList[imgListIndex] // 修改 "src" 属性为新的图片地址
            }
        }
    }

    function nextPicture() {
        if (imgList.length > 1) {
            if (imgListIndex !== imgList.length - 1) {
                imgListIndex = imgListIndex + 1
                run(imgList[imgListIndex], imgListIndex)
                // img.src = "/img/" + imgList[imgListIndex] // 修改 "src" 属性为新的图片地址
            } else {
                imgListIndex = 0
                run(imgList[imgListIndex], imgListIndex)
                // img.src = "/img/" + imgList[imgListIndex] // 修改 "src" 属性为新的图片地址
            }
        }
    }

    function run(fileName, imgListIndex) {
        if (/\.(gif|jpg|jpeg|png|bmp)$/i.test(fileName)) { // 使用正则表达式判断是否是图片文件
            // 如果是图片，可以使用 img 标签展示
            img.src = "/img/" + imgList[imgListIndex] // 修改 "src" 属性为新的图片地址
            video.style.display = 'none';
            img.style.display = 'block';
        } else if (/\.(mp4|mov|avi|flv|mkv)$/i.test(fileName)) { // 使用正则表达式判断是否是视频文件
            // 如果是视频，可以使用 video 标签展示
            video.src = "/img/" + imgList[imgListIndex] // 修改 "src" 属性为新的视频地址
            img.style.display = 'none';
            video.style.display = 'block';
        }
    }

    function shuffleArray(array) {
        for (let i = array.length - 1; i > 0; i--) {
            const j = Math.floor(Math.random() * (i + 1));
            [array[i], array[j]] = [array[j], array[i]];
        }
        return array;
    }

    let i = setInterval(nextPicture, intervalTime*1000)
    //最后获取图片
    getImgList()

</script>
<style>
    body {
        background: black;
        margin: 0px;
    }

    img {
        /* 样式跟第一个例子里是一样的，然后加了下面一个声明 */
        min-height: 50px;
    }

    img:before {
        content: " ";
        display: block;
        position: absolute;
        left: 0;
        height: 95vh;
        width: 100%;
        background-color: black;
    }

    img:after {
        content: "商品图片不存在";
        display: block;
        font-size: 64px;
        font-style: normal;
        color: white;
        position: absolute;
        top: 40vh;
        left: 0;
        width: 100%;
        text-align: center;
    }

    .content {
        height: 100%;
        width: 100%;
        vertical-align: middle;
        object-fit: contain;
    }
</style>
</html>